{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Меня зовут Андрей, 26 лет, женат на прекрасной девушке Олесе, есть чудесный малыш Марк. Очень хочу стать програмистом и дать семье свободу!
  Всю свою сознательную жизнь хочу много путишествовать и видеть мир со всех его уголков,
  но обычный формат работы не позволяет такой радости в работе удаленно.
  Плюс всем всегда раньше козалось что удаленныцй формат работы больше похож на выдумки или лишь единицам везунчикам такое возможно.
  А такое возможно, и это реально!
  Так же ммногие и даже большинство из нас хотят изменить что то в себе потому что не нашли себя и ту самую счастливую жизнь которую себе представлли с детства.
  Я еще молодой парень и мне всегда были интересны технологии но почему то только сейчас решился на возможность заниматься тем, что интересно.
  Сейчас я отстою, хоть мне кодирование даже снится как я решаю мучительную задачку. Без трудностей не бывает успеха! Всем удачи!
</p>
{% endblock %} 
